<body>
    <head>
        <title>noisseur home</title>
    </head>
<body>
    <h3>noisseur home</h3>
    <table>
        <tr>
            <td>
                <img src="static/con.png"/>
            </td>
            <td>
                <a href="api/1/swagger-ui">/api v1</a><br>
                <a href="test/">/test</a><br>
            </td>
        </tr>
    </table>
</body>
</html>
