<body>
    <head>
        <title>noisseur home</title>
    </head>
<body>
    <h3>noisseur home</h3>
    <br>
        <img src="static/con.png"/>
    <br>
    <br>
        <a href="api/">/api</a><br>
        <a href="test/">/test</a><br>
</body>
</html>
