<body>
    <head>
        <title>Noisseur home</title>
    </head>
<body>
    <h3>Noisseur home</h3>
    <table>
        <tr>
            <td>
                <img src="static/con.png"/>
            </td>
            <td>
                <a href="api/1/swagger-ui">/api</a>, v1 <br>
                <a href="test/">/test</a><br>
            </td>
        </tr>
    </table>
</body>
</html>
